@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');
*{
  margin:0;
  padding:0;
   box-sizing: border-box; 
}
.home--container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  color:white;
  background-color:rgba(187, 2, 141, 0.73) ;
}

.home--heading{
  padding: 100px;  
  line-height: 60px;
}
.home--paragraph{
border: 1px solid white;
color: white;
padding: 20px;
border-radius: 10px;
font-weight: bold;
}
.quote---heading, .quote---tag, .quote---quote,
 .quote---author, .quote---year{
  display:flex;
  align-items: center;
  justify-content: center; 
  padding: 10px;
  font-family: 'Lobster', cursive;
}
.quote--machine--div{
   background-color: white; 
  width: 700px;
  height: 500px;
margin-bottom: 25px;
box-shadow:  5px 5px 10px #ffffff,
 inset -5px -5px 10px 5px ;   
 padding: 20px;
 cursor:pointer;
}
.quote--div{
  max-width: auto;
 height: 100vh; 
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 
}
button{
 padding: 20px;
 outline: none;
 font-size: 18px;
 border-radius: 10px;
 background: none;
 border: 1px solid white;
 color: white;
 transition: background 1s, color 1s; 
 cursor: pointer;
}

.home--page{
  margin-right: 320px; 
}

  /* MEDIA QUERIES =========>>>>>>>>>>>>>>>>>>>>>> */


@media (max-width:768px){
  .quote--machine--div{
   width: 300px;
   height: 600px;
  font-size: 12px;
 }
  .home--heading, .home--paragraph{
  font-size: 12px;
 } 
 .home--page{
  margin-right: 20px; 
}
button{
  padding: 15px;
}

}

@media (max-width:480px){
  
  .home--page{
    margin-right: 15px; 
  }
 
  .home--heading, .home--paragraph{
    font-size: 12px;
   }
   .quote--machine--div{
    width: 320px;
    height: 550px;
   font-size: 12px;
  }
  button{
    padding: 15px;
  }
} 

 /* @media (max-width:1024px){
  .quote--machine--div{
    width: 350px;
    height: 500px;
   font-size: 12px;
  } 

}  */